## Data Analysis Mathematics, Algorithms and Modeling

# AI Powered Recipe Recommendation System 

### Team : Group 3
| Student No  | First Name                  | Last Name     |
|-------------|-----------------------------|---------------|
| 9041129     | Nidhi                       | Ahir          |
| 9016986     | Keerthi                     | Gonuguntla    |
| 9027375     | Khushbu                     | Lad           |

#### Introduction

In the next phase of recepe recommandation system, Data related to user feedback and rating are taken into consideration with the existing recepe data with a view to identify insights about user's preferences and engagement with the recepe. This will help to identify corelation between recepe characteristics and user preferences

### Dataset & Programming Requirements

##### Ractangular Dataset : files
1. Raw_recepes.csv
2. Raw_interaction.csv

##### Import Libraries

In [17]:
import numpy as np
import pandas as pd 
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy.stats as zscore
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib as mpl
mpl.rcParams['agg.path.chunksize'] = 10000

##### RawRecipe : Dataset in classes and methods

In [18]:
class RawRecipe:
    def __init__(self):
        self.file_path = './Dataset/RAW_recipes.csv'
        self.data = None
    
    # Loads the data from a CSV file.
    def load_data(self):
        self.data = pd.read_csv(self.file_path)
        print(f"---> STEP 1 : Loads the data from a CSV file. \r\n")
        print(f"RAW_recipes.csv : Data loaded successfully.")
        print(f"Total Records : {self.data.shape[0]} \r\n")
        return self.data

##### RAW_interactions : Dataset in classes and methods

In [19]:
class RecepeInteraction:
    def __init__(self):
        self.file_path = './Dataset/RAW_interactions.csv'
        self.data = None
    
    # Loads the data from a CSV file.
    def load_data(self):
        self.data = pd.read_csv(self.file_path)
        print(f"---> STEP 1 : Loads the data from a CSV file. \r\n")
        print(f"RAW_interactions.csv : Data loaded successfully.")
        print(f"Total Records : {self.data.shape[0]} \r\n")
        return self.data
    
    def view_sample_data(self):
        self.data.head(5)

    # Data quality : Null Check
    def check_null_values(self):
        print(f"---> STEP 2 : Null Check for data \r\n")
        if self.data is not None:
            nulls = self.data.isnull().sum()
            print(nulls)
            return nulls
        else:
            print("Data not loaded.")
     # Data quality : Duplicate Check
    def check_duplicate_values(self):
        print(f"\r\n---> STEP 3 : Duplicate data Check for recepe \r\n")
        if self.data is not None:
            counts = self.data["recipe_id"].value_counts()
            dupl = (counts[counts>1]).reset_index()
            dupl.columns = ["recipe_id", "Count"]
            print(dupl)
            return dupl
        else:
            print("Data not loaded.")

#### The main function : Initialise class objects & load data

In [20]:
if __name__ == "__main__":

    # Create an instance of the RecepeInteraction  class and load data
    interactionData = RecepeInteraction()
    interactionData.load_data()

    # Create an instance of the RecepeInteraction  class and load data
    recepeData = RawRecipe()
    recepeData.load_data()

---> STEP 1 : Loads the data from a CSV file.

RAW_interactions.csv : Data loaded successfully.
Total Records : 1132367

---> STEP 1 : Loads the data from a CSV file.

RAW_recipes.csv : Data loaded successfully.
Total Records : 231637

#### Merge dataset based on recepe Id

In [21]:
# Merge data using common field recepe Id
merged_data = pd.merge(recepeData.data, interactionData.data, left_on='id', right_on='recipe_id')
print("Data Merged Successfully")
merged_data.head(2)

Data Merged Successfully

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,user_id,recipe_id,date,rating,review
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,4470,137739,2006-02-18,5,I used an acorn squash and recipe#137681 Swee...
1,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,593927,137739,2010-08-21,5,This was a nice change. I used butternut squas...

#### Missing value Ratio

In [22]:
missing_value_ratio = (merged_data.isnull().sum() / len(merged_data))
missing_value_percentage = missing_value_ratio * 100
pd.set_option('display.float_format', '{:.10f}'.format)

missing_values_table = pd.DataFrame({
    'Column Name': missing_value_ratio.index,
    'Ratio': missing_value_ratio.values,
    'Percentage': missing_value_percentage.values
})
missing_values_table

       Column Name        Ratio   Percentage
0             name 0.0000008831 0.0000883106
1               id 0.0000000000 0.0000000000
2          minutes 0.0000000000 0.0000000000
3   contributor_id 0.0000000000 0.0000000000
4        submitted 0.0000000000 0.0000000000
5             tags 0.0000000000 0.0000000000
6        nutrition 0.0000000000 0.0000000000
7          n_steps 0.0000000000 0.0000000000
8            steps 0.0000000000 0.0000000000
9      description 0.0207618202 2.0761820152
10     ingredients 0.0000000000 0.0000000000
11   n_ingredients 0.0000000000 0.0000000000
12         user_id 0.0000000000 0.0000000000
13       recipe_id 0.0000000000 0.0000000000
14            date 0.0000000000 0.0000000000
15          rating 0.0000000000 0.0000000000
16          review 0.0001492449 0.0149244900

The Data suggests that there are only null values in 3 columns name, description and review. Here, description and review is not a mandatory or important feature in the dataset. The "name" column must have value. We can drop records with null names

In [23]:
merged_data = merged_data.dropna(subset=['name'])

#### Low Variance Filter

In [24]:
numerical_features = merged_data.select_dtypes(include=['number'])
variance = numerical_features.var()
print(variance)

id                      17003803127.6721191406
minutes              77378371288826.5937500000
contributor_id     4589619737965439.0000000000
n_steps                          33.8687988906
n_ingredients                    13.6154322700
user_id          251429104826142400.0000000000
recipe_id               17003803127.6721191406
rating                            1.5995814482
dtype: float64

1. Reviewing variance of all numerical features, features with variance > 100 are columns including ID's. 
2. number of steps and ingredients has considerable lower variance, however those columns contains values which can not be ignored to perform ML tasks.
3. Rating is having lowest variance among all numerical features. However, Rating is integral part of data as it has categorical data between 1 to 5 numbers.

#### High Correlation Filter